@import url(https://fonts.googleapis.com/css?family=Rochester|Source+Sans+Pro|Lobster|Pacifico|Lobster+Two|Amaranth|Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans);

@font-face {
  font-family: ubuntu;
  src: url(http://localhost/crm/assets/fonts/Ubuntu-Regular.ttf);
}
body{
	font-family: "ubuntu";
	font-size: 14px;
}
.navbar-brand{
	font-family: Amaranth,"sans-serif";
}
nav a.nav-link:active{
	color: #ff0000;
}
input,.form-control{
	font-size: 14px;
	font-family: "ubuntu";
}

.dropdown-menu{
	font-size: 14px;
}
.no-border{
    border:none;
    padding: 0;
    margin: 0;
    position: relative;
}
.remove{
    margin-bottom: 0;
}
.clickable-row:hover{
    cursor:pointer;
}
.qtydisp{
    /*position: absolute;
    margin-top:  -20px;
    margin-left: 200px;
    z-index: 10;*/
    
}
body
{
    counter-reset: Count-Value;     
}
tr td:first-child:before
{
  counter-increment: Count-Value;   
  content: counter(Count-Value);
  font-weight: bold;
}
